@page
@model Icity.Areas.Admin.Pages.SubCategories.EditModel
@{
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Edit"]  @sharedResource["Sub Category"]
                            <a asp-page="Index" asp-route-id="@Model.categoryprop" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            @(Html.DevExtreme().Form<Icity.Models.SubCategory>()
                                 .FormData(Model.Subcategory)
        .Items(items =>
        {
        items.AddSimpleFor(m => m.CategoryId).Visible(false);
        items.AddSimpleFor(m => m.SubCategoryTitleAr).Label(k => k.Text(sharedResource["TlAr"])).IsRequired(true);
        items.AddSimpleFor(m => m.SubCategoryTitleEn).Label(k => k.Text(sharedResource["TlEn"])).IsRequired(true);
         items.AddSimpleFor(m => m.Tags).IsRequired(true).Label(k => k.Text(sharedResource["Tags"]));
            items.AddSimpleFor(m => m.SortOrder).IsRequired(true).Label(k => k.Text(sharedResource["Sort Order"])).ValidationRules(r => r.AddRange().Min(0));

        items.AddSimpleFor(m => m.Description).Label(k => k.Text(sharedResource["Description"])).IsRequired(true);


       items.AddSimple().Label(k => k.Text(sharedResource["Picture"])).Template(@<text>
                        <div>
                    <img width="250" height="250" src="~/@Model.Subcategory.SubCategoryPic" alt="Category Picture"/>
                </div>
                            </text> );

            items.AddSimpleFor(m => m.SubCategoryPic).Label(k => k.Text(sharedResource["Change_Picture"])).Template(@<text>


                            @(Html.DevExtreme().FileUploader()
                                        .Name("Photo")
                                        .SelectButtonText(sharedResource["Change_Picture"])
                                        .LabelText("")
                                        .Accept("image/*")
                                        .UploadMode(FileUploadMode.UseForm)
                                         .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                            .Height(70)
                                                        )

                            </text> );


                            items.AddButton()
                                    .ColSpan(3)
                                    .ButtonOptions(b => b.Text(sharedResource["Save"])
                                    .Type(ButtonType.Success)
                                    .UseSubmitBehavior(true)).CssClass("invers");
                        })
)
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
