@page
@model Icity.Areas.TemplatePages.Pages.DashBoardAddListingModel
@inject IcityContext _context
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "_DashBoard";
    var Categories = _context.Categories.Select(e => new { e.CategoryId, e.CategoryTitleEn });
}

<div class="col-md-9">
    <form method="post" enctype="multipart/form-data" onsubmit="return validateMyForm();">
        <div asp-validation-summary="ModelOnly" style="color:red;"></div>
        <div class="dashboard-title   fl-wrap">
            <h3>Add Listing</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <label>@sharedResource["Listing Title"] <i class="fal fa-briefcase"></i></label>
                    <input asp-for="AddListing.Title" type="text" placeholder="@sharedResource["Enter Title"]" value="" />
                    <span asp-validation-for="AddListing.Title" style="color:red;"></span>
                </div>
                <div>

                </div>

                <div class="row">
                   
                    <div class="col-md-6" id="HrefCat">
                        <label>@sharedResource["Type / Category"]</label>
                        <div class="listsearch-input-item">
                            <select   id="CatId"  asp-for="AddListing.CategoryId" data-placeholder="Apartments" class="chosen-select no-search-select">
                                <option>@sharedResource["All Categories"]</option>
                                @foreach (var item in Categories)
                                {
                                    <option value="@item.CategoryId">@item.CategoryTitleEn</option>
                                }
                            </select>
                        </div>
                       <div class="row">
                       <div class="col-md-12">
                            <span id="SpanCatId"  style="color:red;display:none">Select Category</span>
                           </div>
                   </div>
                    </div>
                   
                    <div class="col-md-6">
                        <label>@sharedResource["Tags"] <i class="fal fa-key"></i></label>
                        <input asp-for="AddListing.Tags" type="text" placeholder="@sharedResource["Enter Tags"]" value="" />
                        <span asp-validation-for="AddListing.Tags" style="color:red;"></span>

                    </div>

                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Location / Contacts"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    @*<div class="col-md-6">
                            <label>Longitude (Drag marker on the map)<i class="fal fa-long-arrow-alt-right"></i>  </label>
                            <input type="text" placeholder="Map Longitude" id="long" value="" />
                        </div>
                        <div class="col-md-6">
                            <label>Latitude (Drag marker on the map) <i class="fal fa-long-arrow-alt-down"></i> </label>
                            <input type="text" placeholder="Map Latitude" id="lat" value="" />
                        </div>*@
                    <div class="">
                        <label>@sharedResource["Main Location"] <i class="fal fa-long-arrow-alt-down"></i> </label>
                        <input asp-for="AddListing.MainLocataion" type="text" placeholder="@sharedResource["Enter Main Location"]" id="lat" value="" required />
                        <span asp-validation-for="AddListing.MainLocataion" style="color:red;"></span>

                    </div>

                </div>
                @*<div class="map-container">
                        <div id="singleMap" class="drag-map" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                    </div>*@
                @*<label>City / Location</label>
                    <div class="listsearch-input-item">
                        <select data-placeholder="City" class="chosen-select no-search-select">
                            <option>All Cities</option>
                            <option>New York</option>
                            <option>London</option>
                            <option>Paris</option>
                            <option>Kiev</option>
                            <option>Moscow</option>
                            <option>Dubai</option>
                            <option>Rome</option>
                            <option>Beijing</option>
                        </select>
                    </div>*@

                <div class="row">
                    <div class="col-md-6">
                        <label>@sharedResource["City"] <i class="fal fa-long-arrow-alt-down"></i> </label>
                        <input asp-for="AddListing.City" type="text" placeholder="@sharedResource["Enter City"]" id="lat" value="" required />
                        <span asp-validation-for="AddListing.City" style="color:red;"></span>

                    </div>
                    <div class="col-md-6">
                        <label>@sharedResource["Country"] <i class="fal fa-long-arrow-alt-down"></i> </label>
                        <input asp-for="AddListing.Country" type="text" placeholder="@sharedResource["Country"]Enter Country" id="lat" value="" required />
                        <span asp-validation-for="AddListing.Country" style="color:red;"></span>

                    </div>
                    <div class="col-md-6">
                        <label>@sharedResource["Contact Person"] <i class="fal fa-long-arrow-alt-down"></i> </label>
                        <input asp-for="AddListing.ContactPeroson" type="text" placeholder="@sharedResource["Enter Contact Person"]" id="lat" value="" required />

                        <div class="row">
                            <span asp-validation-for="AddListing.ContactPeroson" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Address"]<i class="fal fa-map-marker"></i></label>
                        <input asp-for="AddListing.Address" type="text" placeholder="@sharedResource["Enter Address"]" value="" />
                        <div class="row">
                            <span asp-validation-for="AddListing.Address" style="color:red;"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Phone 1"]<i class="far fa-phone"></i>  </label>
                        <input asp-for="AddListing.Phone1" type="text" placeholder="@sharedResource["Enter Phone"]" value="" />
                        <div class="row">
                            <span asp-validation-for="AddListing.Phone1" style="color:red;"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Phone 2"]<i class="far fa-phone"></i>  </label>
                        <input asp-for="AddListing.Phone2" type="text" placeholder="@sharedResource["Enter another Phone"]" value="" />
                        <span asp-validation-for="AddListing.Phone2" style="color:red;"></span>
                    </div>
                    <div class="col-sm-6">
                        <label> @sharedResource["Website"] <i class="far fa-globe"></i>  </label>
                        <input asp-for="AddListing.Website" type="text" placeholder="@sharedResource["Enter Website"]" value="" />
                        <div class="row">
                            <span asp-validation-for="AddListing.Website" style="color:red;"></span>
                        </div>


                    </div>
                    <div class="col-sm-6">
                        <label> @sharedResource["Country"]Fax <i class="fa fa-fax"></i>  </label>
                        <input asp-for="AddListing.Fax" type="text" placeholder="@sharedResource["Country"]Enter Fax" value="" />
                        <span asp-validation-for="AddListing.Fax" style="color:red;"></span>

                    </div>
                    <div class="col-sm-12">
                        <label>@sharedResource["Email Address"]<i class="far fa-envelope"></i>  </label>
                        <input asp-for="AddListing.Email" type="text" placeholder="@sharedResource["Enter Email"]" value="" />
                        <span asp-validation-for="AddListing.Email" style="color:red;"></span>

                    </div>
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Header Media</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <!--col -->
                    <div class="col-md-2">
                        @*<div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender" checked>
                                    <span>Background image</span>
                                </label>
                            </div>*@
                        <div class="add-list-media-wrap">
                            <div class="add-list-media-wrap">
                                <div class="listsearch-input-item fl-wrap">
                                    <div class="fuzone">
                                        <div class="fu-text">
                                            <span><i class="fal fa-images"></i> Click here or drop Logo</span>
                                            <div class="photoUpload-files fl-wrap"></div>
                                        </div>
                                        <input type="file" accept="image/*" name="Listinglogo" class="upload">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col -->
                    <div class="col-md-2">
                        @*<div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender">
                                    <span>Carousel</span>
                                </label>
                            </div>*@
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> Click here or drop Banner</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="image/*" name="listingbanner" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @*<div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender">
                                    <span>Carousel</span>
                                </label>
                            </div>*@
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> Click here or drop Promo Video</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="video/*" name="PromoVideo" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @*<div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender">
                                    <span>Carousel</span>
                                </label>
                            </div>*@
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> Click here or drop Photos</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="image/*" name="Photos" class="upload" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @*<div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender">
                                    <span>Carousel</span>
                                </label>
                            </div>*@
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> Click here or drop Videos</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="video/*" name="Videos" class="upload" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col -->
                    @*<div class="col-md-4">
                            <div class="add-list-media-header" style="margin-bottom:20px">
                                <label class="radio inline">
                                    <input type="radio" name="gender">
                                    <span>Video</span>
                                </label>
                            </div>
                            <div class="add-list-media-wrap">
                                <label>Youtube  <i class="fab fa-youtube"></i></label>
                                <input type="text" placeholder="https://www.youtube.com/" value="" />
                                <label>Vimeo <i class="fab fa-vimeo-v"></i></label>
                                <input type="text" placeholder="https://vimeo.com/" value="" />
                            </div>
                        </div>*@
                    <!--col end-->
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Details</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <label>@sharedResource["Description"]</label>
                <textarea asp-for="AddListing.Discription" cols="40" rows="3" placeholder="@sharedResource["Enter Discription"]"></textarea>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Branches</h3>

        </div>
        <!-- profile-edit-container-->
        @*<div class="profile-edit-container fl-wrap  block_box">
                <div class="custom-form add_room-item-wrap">
                    <div class="add_room-container fl-wrap">
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Item Title <i class="fal fa-briefcase"></i></label>
                                    <input type="text" placeholder="Title" value="" />
                                </div>
                                <div class="col-md-4">
                                    <label>Item Category<i class="fal fa-filter"></i></label>
                                    <input type="text" placeholder="Category" value="" />
                                </div>
                                <div class="col-md-4">
                                    <label>Item Price<i class="fal fa-dollar-sign"></i></label>
                                    <input type="text" placeholder="Price" value="" />
                                </div>
                                <div class="col-md-8">
                                    <label>Item Details</label>
                                    <textarea cols="40" rows="3" placeholder="Datails"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <label>Item Image</label>
                                    <div class="add-list-media-wrap">
                                        <div class="listsearch-input-item fl-wrap">
                                            <div class="fuzone">
                                                <form>
                                                    <div class="fu-text">
                                                        <span><i class="fal fa-images"></i> Click here or drop files to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="add-room-item">Add New <i class="fal fa-plus"></i> </a>
                </div>
            </div>*@

        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    <div class="add_room-item fl-wrap">
                        <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Branch Title <i class="fal fa-briefcase"></i></label>
                                <input class="titleinput" type="text" placeholder="Enter Branch Title" required value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <a class="add-room-item" onclick="changeStylebutton('Branchbtnstyle')">Add New <i class="fal fa-plus"></i> </a>
                @*<a class="btn btn-success" onclick="branchtitle()">Save All<i class="fal fa-plus"></i></a>*@

            </div>
            <div class="row">
                <a onclick="branchtitle()" id="Branchbtnstyle" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Details Item - Rooms</h3>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch21">
                <label class="onoffswitch-label" for="myonoffswitch11">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    <!--add_room-item end  -->
                    <div class="add_room-item fl-wrap">
                        <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Item Title <i class="fal fa-briefcase"></i></label>
                                <input type="text" placeholder="Title" value="" />
                            </div>
                            <div class="col-md-4">
                                <label>Item Subtitle<i class="fal fa-filter"></i></label>
                                <input type="text" placeholder="Subtitle" value="" />
                            </div>
                            <div class="col-md-4">
                                <label>Item Price<i class="fal fa-dollar-sign"></i></label>
                                <input type="text" placeholder="Price" value="" />
                            </div>
                            <div class="col-md-8">
                                <label>Item Details</label>
                                <textarea cols="40" rows="3" placeholder="Datails"></textarea>
                            </div>
                            <div class="col-md-4">
                                <label>Item Image</label>
                                <div class="add-list-media-wrap">
                                    <div class="listsearch-input-item fl-wrap">
                                        <div class="fuzone">
                                            @*<form>
                                                    <div class="fu-text">
                                                        <span><i class="fal fa-images"></i> Click here or drop files to upload</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input type="file" class="upload">
                                                </form>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--add_room-item end  -->
                </div>
                <a href="#" class="add-room-item">Add New <i class="fal fa-plus"></i> </a>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Facilities</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <!-- Checkboxes -->
                <ul class="fl-wrap filter-tags no-list-style ds-tg">
                    <li>
                        <input id="check-aaa5" type="checkbox" name="check" checked>
                        <label for="check-aaa5">Free WiFi</label>
                    </li>
                    <li>
                        <input id="check-bb5" type="checkbox" name="check" checked>
                        <label for="check-bb5">Parking</label>
                    </li>
                    <li>
                        <input id="check-dd5" type="checkbox" name="check">
                        <label for="check-dd5">Fitness Center</label>
                    </li>
                    <li>
                        <input id="check-cc5" type="checkbox" name="check">
                        <label for="check-cc5">Non-smoking Rooms</label>
                    </li>
                    <li>
                        <input id="check-ff5" type="checkbox" name="check" checked>
                        <label for="check-ff5">Airport Shuttle</label>
                    </li>
                    <li>
                        <input id="check-c4" type="checkbox" name="check">
                        <label for="check-c4">Air Conditioning</label>
                    </li>
                </ul>
                <!-- Checkboxes end -->
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Content Widgets</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <div class="col-md-4">
                        <!-- act-widget-->
                        <div class="act-widget fl-wrap">
                            <div class="act-widget-header">
                                <h4>1. Promo video</h4>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="add-list-media-wrap">
                                <label>Video url :  <i class="fab fa-youtube"></i></label>
                                <input type="text" placeholder="https://www.youtube.com/" value="" />
                            </div>
                        </div>
                        <!-- act-widget end-->
                    </div>
                    <div class="col-md-4">
                        <!-- act-widget-->
                        <div class="act-widget fl-wrap">
                            <div class="act-widget-header">
                                <h4>2. Gallery Thumbnails</h4>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="add-list-media-wrap">
                                <div class="listsearch-input-item fl-wrap">
                                    <div class="fuzone">
                                        @*<form>
                                                <div class="fu-text">
                                                    <span><i class="fal fa-images"></i> Click here or drop files to upload</span>
                                                    <div class="photoUpload-files fl-wrap"></div>
                                                </div>
                                                <input type="file" class="upload" multiple>
                                            </form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- act-widget end-->
                    </div>
                    <div class="col-md-4">
                        <!-- act-widget-->
                        <div class="act-widget fl-wrap">
                            <div class="act-widget-header">
                                <h4>3. Slider</h4>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch7">
                                    <label class="onoffswitch-label" for="myonoffswitch7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="add-list-media-wrap">
                                <div class="listsearch-input-item fl-wrap">
                                    <div class="fuzone">
                                        @*<form>
                                                <div class="fu-text">
                                                    <span><i class="fal fa-images"></i> Click here or drop files to upload</span>
                                                    <div class="photoUpload-files fl-wrap"></div>
                                                </div>
                                                <input type="file" class="upload" multiple>
                                            </form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- act-widget end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Working Hours</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Monday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 5 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Tuesday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 5 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Wednesday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 5 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Thursday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 5 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Friday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 5 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Saturday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="9 AM - 3 PM" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Sunday <i class="fal fa-clock"></i></label>
                        <input type="text" placeholder="Closed" value="" />
                    </div>
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Sidebar Widgets</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <!-- act-widget-->
                <div class="act-widget fl-wrap">
                    <div class="act-widget-header">
                        <h4>1. Booking Form</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- act-widget end-->
                <!-- act-widget-->
                <div class="act-widget fl-wrap">
                    <div class="act-widget-header">
                        <h4>2. Price Range </h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
                            <label class="onoffswitch-label" for="myonoffswitch2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- act-widget end-->
                <!-- act-widget-->
                <div class="act-widget fl-wrap">
                    <div class="act-widget-header">
                        <h4>3. instagram</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                            <label class="onoffswitch-label" for="myonoffswitch3">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <label>Api key<i class="fab fa-mixcloud"></i></label>
                    <input type="text" placeholder="Api key" value="" />
                </div>
                <!-- act-widget end-->
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Your  Socials</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <label>Facebook <i class="fab fa-facebook"></i></label>
                <input type="text" placeholder="https://www.facebook.com/" value="" />
                <label>Twitter<i class="fab fa-twitter"></i>  </label>
                <input type="text" placeholder="https://twitter.com/" value="" />
                <label>Vkontakte<i class="fab fa-vk"></i>  </label>
                <input type="text" placeholder="https://vk.com" value="" />
                <label> Instagram <i class="fab fa-instagram"></i>  </label>
                <input type="text" placeholder="https://www.instagram.com/" value="" />
            </div>
        </div>
        <button type="submit"  class="btn  color2-bg  float-btn">@sharedResource["Add Listing"]<i class="fal fa-paper-plane"></i></button>

    </form>
    <!-- profile-edit-container end-->
</div>
@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&libraries=places&callback=initAutocomplete"></script>
        <script src="~/Template/js/map-add.js"></script>


    }
    //Arabic
    else
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&libraries=places&callback=initAutocomplete"></script>
        <script src="~/Template/js/map-add.js"></script>



    }
}

<script>
    function changeStylebutton(id) {

        if (localStorage.getItem("lang") == "en") {
            document.getElementById(id).textContent = "Save All";
        } else {
            document.getElementById(id).textContent = "حفظ الكل";
        }

        document.getElementById(id).style.backgroundColor = "#384f95";
        //document.getElementsByClassName('mediainput')[0].style.display = 'flex';
        //document.getElementsByClassName('mediashow')[0].style.display = 'none';
    }
    var counter = 0;
    function branchtitle() {
        var myList = new Array();
        var inputvalue = document.getElementsByClassName("titleinput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("titleinput")[i].value != "") {
                myList.push(document.getElementsByClassName("titleinput")[i].value)
            }
        }
        if (myList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/DashBoardAddListing?handler=FillBranchesList",
                async: false,
                data: JSON.stringify(myList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("Branchbtnstyle").textContent = "Saved";
                    } else {
                        document.getElementById("Branchbtnstyle").textContent = "تم الحفظ";
                    }
                    document.getElementById("Branchbtnstyle").style.backgroundColor = "#257260";
                    counter += 1;
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }
    function validateMyForm()
    {
        var CatId = document.getElementById("CatId");
        console.log(CatId.value);
        var SpanCatId = document.getElementById("SpanCatId")
        console.log(SpanCatId);
        if(CatId.value=="All Categories")
        {
             console.log("entered");
             SpanCatId.style.display="flex";
            window.location.href = "#HrefCat";

            return false;
        }
        else{
             console.log("Not entered");
            SpanCatId.style.display="none";
            return true;
        }

    }

</script>
   @section Scripts {
            <partial name="_ValidationScriptsPartial" />
   }
   