@page
@model Icity.Areas.TemplatePages.Pages.ListingReviewsModel
@{
    Layout = "_DashBoard";

}
<div class="col-md-9">
    <div class="dashboard-title   fl-wrap">
        <h3>Your Reviews </h3>
    </div>
    <!-- profile-edit-container-->
    <div class="profile-edit-container fl-wrap block_box">
        <!-- reviews-comments-item -->
        @foreach (var item in Model.reviewlist)
        {

            <div class="reviews-comments-item">
                <div class="review-comments-avatar">
                    <img src="images/avatar/1.jpg" alt="">
                </div>
                <div class="reviews-comments-item-text fl-wrap">
                    <div class="reviews-comments-header fl-wrap">
                        <h4><a href="#">@item.Name</a></h4>
                        <div class="review-score-user">
                            <span class="review-score-user_item">@item.Rating</span>
                            <div class="listing-rating card-popup-rainingvis" data-starrating2="@item.Rating"></div>
                        </div>
                    </div>
                    <p>@item.Title</p>
                    <div class="reviews-comments-item-footer fl-wrap">
                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>@item.ReviewDate.Date</span></div>
                        @*<a href="#" class="rate-review"><i class="fal fa-reply"></i>  Reply </a>*@
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- profile-edit-container end-->
    <div class="pagination">
        <a href="#" class="prevposts-link"><i class="fas fa-caret-left"></i><span>Prev</span></a>
        <a href="#">1</a>
        <a href="#" class="current-page">2</a>
        <a href="#">3</a>
        <a href="#">...</a>
        <a href="#">7</a>
        <a href="#" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
    </div>
</div>
@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/color.css")">


    }
    //Arabic
    else
    {

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/color.css")">


    }
}
