@page
@model Icity.Areas.TemplatePages.ProfileModel
@{
    Layout = "_DashBoard";
}
@using Microsoft.AspNetCore.Localization;



<div class="col-md-9">
    <form method="post" enctype="multipart/form-data">

        <div class="dashboard-title fl-wrap">
            <h3>@sharedResource["Your Profile"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <div class="col-sm-6">
                        <label>@sharedResource["Full Name"] <i class="fal fa-user"></i></label>
                        <input asp-for="@Model.userProfile.FullName" type="text" placeholder="@sharedResource["Enter Full Name"]" />
                        <span asp-validation-for="userProfile.FullName" style="color:red;"></span>

                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Nick Name"] <i class="fal fa-user"></i></label>
                        <input asp-for="@Model.userProfile.NickName" type="text" placeholder="@sharedResource["Enter Nick Name"]" />
                    </div>
                    <div class="col-sm-6">
                        <label> @sharedResource["Nationality"]  <i class="fas fa-flag"></i>  </label>
                        <input asp-for="@Model.userProfile.Nationality" type="text" placeholder="@sharedResource["Enter Nationality"]" />
                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Phone"]<i class="far fa-phone"></i>  </label>
                        <input asp-for="@Model.userProfile.PhoneNumber" type="text" placeholder="@sharedResource["Enter Phone"]" />
                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["Phone 2"]<i class="far fa-phone"></i>  </label>
                        <input asp-for="@Model.userProfile.Phone2" type="text" placeholder="@sharedResource["Enter Anothr phone"]" />
                    </div>
                    <div class="col-sm-6">
                        <label>@sharedResource["job"]  <i class="fas fa-briefcase"></i>  </label>
                        <input asp-for="@Model.userProfile.Job" type="text" placeholder="@sharedResource["Enter Your job"]" />
                    </div>
                    <div class="col-sm-6">
                        <label> @sharedResource["Location"] <i class="fas fa-map-marker"></i>  </label>
                        <input asp-for="@Model.userProfile.MapLocation" type="text" placeholder="@sharedResource["Enter Your Location"]" />
                    </div>
                    <div class="col-sm-6">
                        <label> @sharedResource["Website"] <i class="far fa-globe"></i>  </label>
                        <input asp-for="@Model.userProfile.MapLocation" type="text" placeholder="@sharedResource["Enter your Website"]" />
                    </div>
                </div>
                <label>@sharedResource["Bio"] </label>
                <textarea asp-for="@Model.userProfile.Bio" cols="40" rows="3" placeholder="@sharedResource["Enter Bio"]" style="margin-bottom:20px;"></textarea>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="dashboard-title dt-inbox fl-wrap">
            <h3>@sharedResource["Profile Media"]</h3>
        </div>

        <div class="listing-item-grid_container fl-wrap">
            <div class="row">

                <!--  listing-item-grid  -->
                <div class="col-sm-6">
                    <div class="listing-item-grid">
                        @if (@Model.userProfile.ProfilePicture == null)
                        {


                            <div class="bg" data-bg="~/Images/default user.png"></div>

                        }
                        else
                        {
                            <div class="bg" data-bg="/@Model.userProfile.ProfilePicture"></div>

                        }
                        <div class="d-gr-sec"></div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">@sharedResource["Profile Picture"]</a></h3>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-6">
                    <div class="listing-item-grid">
                        @if (@Model.userProfile.Profilebanner == null)
                        {


                            <div class="bg" data-bg="~/Images/default user.png"></div>

                        }
                        else
                        {
                            <div class="bg" data-bg="/@Model.userProfile.Profilebanner"></div>


                        }
                        <div class="d-gr-sec"></div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">@sharedResource["Banner"]</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-edit-container fl-wrap block_box">
            <div class="row">
                <!--col -->
                <div class="col-md-6">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                        <label class="radio inline">
                            <input type="radio" name="gender" checked>
                            <span>Background image</span>
                        </label>
                    </div>*@
                    <div class="add-list-media-wrap">
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i>@sharedResource["Click here To Drop Profile Photo"] </span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="image/*" name="Profilepic" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--col end-->
                <!--col -->
                <div class="col-md-6">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                        <label class="radio inline">
                            <input type="radio" name="gender">
                            <span>Carousel</span>
                        </label>
                    </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i>@sharedResource["Click here To Drop Profile Banner"] </span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="image/*" name="bannerpic" class="upload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
            @{ if (Model.userPhotos.Count() > 0)
                {
                    <h3>@sharedResource["Profile Listing Photos"]</h3>
                }
            }
        </div>
        <div class="custom-form">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                        <label class="radio inline">
                            <input type="radio" name="gender">
                            <span>Carousel</span>
                        </label>
                    </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i>@sharedResource["Click here To Edit Photos"] </span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="image/*" name="Images" class="upload" multiple>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="listing-item-grid_container fl-wrap">
            <div class="row">
                @foreach (var item in Model.userPhotos)
                {
                    <div id="@item.PhotoID" class="col-sm-4">
                        <div class="listing-item-grid">
                            <div class="bg" data-bg="/@item.Image"></div>
                            <div class="d-gr-sec" id=""></div>
                            <div class="listing-item-grid_title">
                                <h3><a onclick="deletePhoto(@item.PhotoID)">@sharedResource["Delete"]</a></h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>


        <div class="custom-form">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                        <label class="radio inline">
                            <input type="radio" name="gender">
                            <span>Carousel</span>
                        </label>
                    </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i>@sharedResource["Click here or Edit Videos"] </span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="video/*" name="VideosFiels" class="upload" multiple>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
            @{
                if (Model.userVideos.Count() > 0)
                {
                    <h3>@sharedResource["Profile Listing Videos"] </h3>

                }
            }
        </div>

        @foreach (var item in Model.userVideos)
        {

            <div id="@item.VideoID" class="col-sm-4">
                <div class="list-single-main-item_content fl-wrap">
                    <div class="iframe-holder fl-wrap">
                        <div class="resp-video">

                            <iframe src="@Url.Content("/"+item.VideoT)?background=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        </div>
                        <h3><a class="btn" style="background-color: #c03434" onclick="deleteVideo(@item.VideoID)">@sharedResource["Delete"]</a></h3>

                    </div>
                </div>
            </div>
        }


        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Skills"]</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.SkillsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@sharedResource["Skills Title"] <i class="fal fa-briefcase"></i></label>
                                    <input class="SkillInput" type="text" placeholder="@sharedResource["Enter Skill Title"]" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.SkillsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>@sharedResource["Skills Title"]  <i class="fal fa-briefcase"></i></label>
                                        <input class="SkillInput" type="text" placeholder="@sharedResource["Enter Skill Title"]" value="@item.SkillTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('skillsavebtn')">@sharedResource["Add New"] <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="SkillTitle()" id="skillsavebtn" class="btn  color2-bg  float-btn">@sharedResource["Save All"]</a>
            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Interests"]</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.InterestsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@sharedResource["Interest Title"] <i class="fal fa-briefcase"></i></label>
                                    <input class="InterrestInput" type="text" placeholder="@sharedResource["Enter Interest Title"]" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.InterestsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>@sharedResource["Interest Title"] <i class="fal fa-briefcase"></i></label>
                                        <input class="InterrestInput" type="text" placeholder="@sharedResource["Enter Interest Title"]" value="@item.InterestTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('Interresavetbtn')">@sharedResource["Add New"] <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="InterristTitle()" id="Interresavetbtn" class="btn  color2-bg  float-btn">@sharedResource["Save All"]</a>
            </div>
        </div>


        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Languages"]</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.LanguagesList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@sharedResource["Language Title"] <i class="fal fa-briefcase"></i></label>
                                    <input class="LanguageInput" type="text" placeholder="@sharedResource["Enter Language Title"]" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.LanguagesList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>@sharedResource["Language Title"] <i class="fal fa-briefcase"></i></label>
                                        <input class="LanguageInput" type="text" placeholder="@sharedResource["Enter Language Title"]" value="@item.LanguageTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('languagesavebtn')">@sharedResource["Add New"] <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="LanguageTitle()" id="languagesavebtn" class="btn  color2-bg  float-btn">@sharedResource["Save All"]</a>
            </div>
        </div>
        <!-- profile-edit-container end-->



        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Education"]</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.EducationsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>@sharedResource["Education Discription"] <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Description" name="Description" class="educationdes" type="text" placeholder="@sharedResource["Enter Education Discription"]" />
                                </div>
                                <div class="col-md-4">
                                    <label>@sharedResource["Education Year"] <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Year" name="Year" class="educationyear" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="@sharedResource["Enter Education Year"]" />
                                    <span asp-validation-for="education.Year" style="color:red;"></span>

                                </div>
                                <div class="col-md-4">
                                    <label>@sharedResource["Education Provider"] <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Provider" name="Provider" class="educationprov" type="text" placeholder="@sharedResource["Enter Education Provider"]" />
                                    <span style="color:red;">@Model.educationvalidation</span>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.EducationsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>@sharedResource["Education Discription"] <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Description" name="Description" class="educationdes" type="text" placeholder="@sharedResource["Enter Education Discription"]" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>@sharedResource["Education Year"] <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Year" name="Year" class="educationyear" type="text" placeholder="@sharedResource["Enter Education Year"]" />
                                        <span asp-validation-for="education.Year" style="color:red;"></span>

                                    </div>
                                    <div class="col-md-4">
                                        <label>@sharedResource["Education Provider"]  <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Provider" name="Provider" class="educationprov" type="text" placeholder="@sharedResource["Enter Education Provider"]" />
                                        <span style="color:red;">@Model.educationvalidation</span>


                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('Educationsavebtn')">@sharedResource["Add New"] <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="EducationTitle()" id="Educationsavebtn" class="btn  color2-bg  float-btn">@sharedResource["Save All"]</a>
            </div>
        </div>
        <!-- profile-edit-container end-->

        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Life Events"]</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @*@if (Model.LifeEventsList.Count() == 0)
                    {*@

                    @*}
                    else
                    {*@
                    @{ foreach (var item in Model.LifeEventsList)
                        {
                            var divid = item.LifeEventID.ToString() + "divid";
                            var input1 = item.LifeEventID.ToString() + "in1";
                            var input2 = item.LifeEventID.ToString() + "in2";
                            var input3 = item.LifeEventID.ToString() + "in3";
                            <div id="@divid" class="fl-wrap">
                                <span class="remove-rp tolt" onclick="hidelifeeventdiv(@item.LifeEventID)" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>                        <div class="row">
                                    <div class="col-md-3">
                                        <label>@sharedResource["LifeEvent Type"]  <i class="fal fa-briefcase"></i></label>
                                        <input id="@input1" asp-for="@item.EventType" name="EventType" class="LifeEventType" type="text" placeholder="@sharedResource["Enter LifeEvent Type"]" />
                                        <span asp-validation-for="LifeEvent.EventType" style="color:red;"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@sharedResource["LifeEvent Details"] <i class="fal fa-briefcase"></i></label>
                                        <input id="@input2" asp-for="@item.Details" name="Details" class="LifeEventDetails" type="text" placeholder="@sharedResource["Enter LifeEvent Details"]" />
                                        <span asp-validation-for="LifeEvent.Details" style="color:red;"></span>

                                    </div>
                                    <div class="col-md-3">
                                        <label>@sharedResource["LifeEvent Caption"] <i class="fal fa-briefcase"></i></label>
                                        <input id="@input3" asp-for="@item.Caption" name="Caption" class="LifeEventcaption" type="text" placeholder="@sharedResource["Enter LifeEvent Caption"]" />
                                        <span asp-validation-for="LifeEvent.Caption" style="color:red;"></span>
                                    </div>
                                    @{
                                        string stid = item.LifeEventID.ToString() + "id";
                                        string hiddenid = item.LifeEventID.ToString() + "hid";
                                    }
                                    <input hidden id="@hiddenid" asp-for="@item.Media" name="Media" type="text" class="LifeEventhiddenMedia" />
                                    <input hidden asp-for="@item.LifeEventID" name="LifeEventID" type="text" class="LifeEventhiddenID" />

                                    <div id="@stid" style="display:none" class="col-md-3 mediainput">
                                        <div class="add-list-media-wrap">
                                            <div class="add-list-media-wrap">
                                                <div class="listsearch-input-item fl-wrap">
                                                    <div class="fuzone">
                                                        <div class="fu-text">
                                                            <span><i class="fal fa-images"></i>@sharedResource["Click here To Drop LifeEvent Media"] </span>
                                                            <div class="photoUpload-files fl-wrap"></div>
                                                        </div>
                                                        <input asp-for="@Model.LifeEvent.Media" type="file" accept="video/*,image/*" name="LifeeventMedia" class="upload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="@item.LifeEventID" class="col-md-3 mediashow">
                                        <div class="list-single-main-item_content fl-wrap">
                                            <div class="iframe-holder fl-wrap">
                                                <div class="resp-video">

                                                    <iframe src="@Url.Content("/"+item.Media)?background=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                                                </div>
                                                <h3><a class="btn" style="background-color: #c03434" onclick="deleteMedia(@item.LifeEventID)">@sharedResource["Delete"]</a></h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }




                    <div id="hiddendiv" style="display:none" class="add_room-item fl-wrap">
                        <span class="remove-rp tolt" data-microtip-position="right" data-tooltip="@sharedResource["Remove"]"><i class="fal fa-times-circle"></i></span>
                        <div class="row">
                            <div class="col-md-3">
                                <label> @sharedResource["LifeEvent Type"] <i class="fal fa-briefcase"></i></label>
                                <input asp-for="@Model.LifeEvent.EventType" name="EventType" class="LifeEventType" type="text" placeholder="@sharedResource["Enter LifeEvent Type"]" />
                                <span asp-validation-for="LifeEvent.EventType" style="color:red;"></span>
                            </div>
                            <div class="col-md-3">
                                <label>@sharedResource["LifeEvent Details"] <i class="fal fa-briefcase"></i></label>
                                <input asp-for="@Model.LifeEvent.Details" name="Details" class="LifeEventDetails" type="text" placeholder="@sharedResource["Enter LifeEvent Details"]" />
                                <span asp-validation-for="LifeEvent.Details" style="color:red;"></span>

                            </div>
                            <div class="col-md-3">
                                <label>@sharedResource["LifeEvent Caption"] <i class="fal fa-briefcase"></i></label>
                                <input asp-for="@Model.LifeEvent.Caption" name="Caption" class="LifeEventcaption" type="text" placeholder="@sharedResource["Enter LifeEvent Caption"]" />
                                <span asp-validation-for="LifeEvent.Caption" style="color:red;"></span>
                            </div>
                            <input hidden name="Media" type="text" class="LifeEventhiddenMedia" />
                            <input hidden name="LifeEventID" type="text" class="LifeEventhiddenID" />
                            <div class="col-md-3">
                                <div class="add-list-media-wrap">
                                    <div class="add-list-media-wrap">
                                        <div class="listsearch-input-item fl-wrap">
                                            <div class="fuzone">
                                                <div class="fu-text">
                                                    <span><i class="fal fa-images"></i>@sharedResource["Click here To Drop LifeEvent Media"] </span>
                                                    <div class="photoUpload-files fl-wrap"></div>
                                                </div>
                                                <input asp-for="@Model.LifeEvent.Media" type="file" accept="video/*,image/*" name="LifeeventMedia" class="upload">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="add-room-item" style="display:none" id="hiddenanchor" onclick="changeStylebutton('lifeeventstylebtn')">@sharedResource["Add New"] <i class="fal fa-plus"></i> </a>
                <a id="anotheranchor" style="float:left;padding:10px 20px;text-transform:uppercase;font-size:10px;color: #566985; background: #f9f9f9; border: 1px solid #eee; font-weight:600;" onclick="showdivandanchor()">Add New<i class="fal fa-plus"></i></a>

            </div>
            <div class="row">
                <a onclick="LifeEvent()" id="lifeeventstylebtn" class="btn  color2-bg  float-btn">@sharedResource["Save All"]</a>
            </div>
        </div>
        <!-- profile-edit-container end-->

        @{
            var countlist = Model.LifeEventsList.Count();
        }
        <input id="countvalue" value="@countlist" hidden />


        <div class="dashboard-title dt-inbox fl-wrap">
            <h3>@sharedResource["Your  Socials"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <label>@sharedResource["Facebook"] <i class="fab fa-facebook"></i></label>
                <input asp-for="@Model.userProfile.FacebookLink" type="text" placeholder="@sharedResource["Enter Facebook Link"]" />
                <label>@sharedResource["Twitter"]<i class="fab fa-twitter"></i>  </label>
                <input asp-for="@Model.userProfile.TwitterLink" type="text" placeholder="@sharedResource["Enter Twitter Link"]" />
                <label>@sharedResource["YouTube"]<i class="fab fa-youtube"></i>  </label>
                <input asp-for="@Model.userProfile.YoutubeLink" type="text" placeholder="@sharedResource["Enter Youtube Link"]" />
                <label>@sharedResource["LinkedIn"]<i class="fab fa-linkedin"></i>  </label>
                <input asp-for="@Model.userProfile.LinkedInLink" type="text" placeholder="@sharedResource["Enter LinkedIn Link"]" />
                <label> @sharedResource["Instagram"] <i class="fab fa-instagram"></i>  </label>
                <input asp-for="@Model.userProfile.InstagramLink" type="text" placeholder="@sharedResource["Enter Instagram Link"]" />
                <button class="btn    color2-bg  float-btn">@sharedResource["Save Changes"]<i class="fal fa-save"></i></button>
            </div>
        </div>
    </form>
    <!-- profile-edit-container end-->
</div>

@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/color.css")">


    }
    //Arabic
    else
    {

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/style.css")">
        @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">*@
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/color.css")">


    }



}
<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        console.log(document.getElementById('countvalue').value)
        if (document.getElementById('countvalue').value==0) {
            document.getElementById('hiddendiv').style.display = 'flex';
            document.getElementById('hiddenanchor').style.display = 'flex';
            document.getElementById('anotheranchor').style.display = 'none';
        }
        
    })

    //function showlifeeventdiv(listcount) {
    //    console.log(listcount)
    //    if (listcount==0) {
    //        document.getElementById('hiddendiv').style.display = 'flex';
    //        document.getElementById('hiddenanchor').style.display = 'flex';
    //        document.getElementById('anotheranchor').style.display = 'none';
    //    }
    //}

    function showdivandanchor() {
        document.getElementById('hiddendiv').style.display = 'flex';
        document.getElementById('hiddenanchor').style.display = 'flex';
        document.getElementById('anotheranchor').style.display = 'none';
    }

    function hidelifeeventdiv(id) {
        document.getElementById(id + 'divid').style.display = 'none';
        document.getElementById(id + 'in1').value = '';
        document.getElementById(id + 'in2').value = '';
        document.getElementById(id + 'in3').value = '';


    }
    function SkillTitle() {
        var SkillList = new Array();
        var inputvalue = document.getElementsByClassName("SkillInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("SkillInput")[i].value != "") {
                SkillList.push(document.getElementsByClassName("SkillInput")[i].value)
            }
        }
        if (SkillList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillSkillsList",
                async: false,
                data: JSON.stringify(SkillList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("skillsavebtn").textContent = "Saved";
                    } else {
                        document.getElementById("skillsavebtn").textContent = "تم الحفظ";
                    }
                    document.getElementById("skillsavebtn").style.backgroundColor = "#257260";

                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }
    function changeStylebutton(id) {

        if (localStorage.getItem("lang") == "en") {
            document.getElementById(id).textContent = "Save All";
        } else {
            document.getElementById(id).textContent = "حفظ الكل";
        }

        document.getElementById(id).style.backgroundColor = "#384f95";
        //document.getElementsByClassName('mediainput')[0].style.display = 'flex';
        //document.getElementsByClassName('mediashow')[0].style.display = 'none';
    }

    function InterristTitle() {
        var InterestsList = new Array();
        var inputvalue = document.getElementsByClassName("InterrestInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("InterrestInput")[i].value != "") {
                InterestsList.push(document.getElementsByClassName("InterrestInput")[i].value)
            }
        }
        if (InterestsList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillInterestsList",
                async: false,
                data: JSON.stringify(InterestsList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("Interresavetbtn").textContent = "Saved";
                    } else {
                        document.getElementById("Interresavetbtn").textContent = "تم الحفظ";
                    }
                    document.getElementById("Interresavetbtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }


    function LanguageTitle() {
        var LanguagesList = new Array();
        var inputvalue = document.getElementsByClassName("LanguageInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("LanguageInput")[i].value != "") {
                LanguagesList.push(document.getElementsByClassName("LanguageInput")[i].value)
            }
        }
        if (LanguagesList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillLanguagesList",
                async: false,
                data: JSON.stringify(LanguagesList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("languagesavebtn").textContent = "Saved";
                    } else {
                        document.getElementById("languagesavebtn").textContent = "تم الحفظ";
                    }
                    document.getElementById("languagesavebtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }



    function EducationTitle() {
        var EducationList = new Array();
        var desvalue = document.getElementsByClassName("educationdes");
        var yearvalue = document.getElementsByClassName("educationyear");
        var provvalue = document.getElementsByClassName("educationprov");
        for (var i = 0; i < desvalue.length; i++) {
            var education = { Description: desvalue[i].value, Year: yearvalue[i].value, Provider: provvalue[i].value };
            console.log(education)
            if (desvalue[i].value != "" && yearvalue[i].value != "" && provvalue[i].value != "") {
                EducationList.push(education)
            }
        }
        console.log(EducationList)
        console.log(EducationList.length)

        if (EducationList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillEducationsList",
                async: false,
                data: JSON.stringify(EducationList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("Educationsavebtn").textContent = "Saved";
                    } else {
                        document.getElementById("Educationsavebtn").textContent = "تم الحفظ";
                    }
                    document.getElementById("Educationsavebtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);

                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }




    function LifeEvent() {
        console.log("string")
        var LifeEvList = new Array();
        var desvalue = document.getElementsByClassName("LifeEventType");
        var detailsvalue = document.getElementsByClassName("LifeEventDetails");
        var captionvalue = document.getElementsByClassName("LifeEventcaption");
        console.log(captionvalue)
        var hiddenMedia = document.getElementsByClassName("LifeEventhiddenMedia");
        console.log(hiddenMedia)
        var hiddenid = document.getElementsByClassName("LifeEventhiddenID");
        for (var i = 0; i < desvalue.length; i++) {
            if (hiddenid[i].value == "") {
                hiddenid[i].value = 0
            }
            var LifeEvent = { EventType: desvalue[i].value, Details: detailsvalue[i].value, Caption: captionvalue[i].value, Media: hiddenMedia[i].value, LifeEventID: hiddenid[i].value };
            console.log(LifeEvent)
            if (desvalue[i].value != "" && detailsvalue[i].value != "" && captionvalue[i].value != "" || hiddenid[i].value!=0) {
                LifeEvList.push(LifeEvent)
            }
            
        }
        console.log(LifeEvList)
        console.log(LifeEvList.length)

        if (LifeEvList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillLifeEventsList",
                async: false,
                data: JSON.stringify(LifeEvList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    if (localStorage.getItem("lang") == "en") {
                        document.getElementById("lifeeventstylebtn").textContent = "Saved";
                    } else {
                        document.getElementById("lifeeventstylebtn").textContent = "تم الحفظ";
                    }
                    document.getElementById("lifeeventstylebtn").style.backgroundColor = "#257260";


                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }























    function deletePhoto(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeletePhotoById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById(id).style.display = 'none';

                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }
    function deleteVideo(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeleteVideoById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    console.log(id);
                    document.getElementById(id).style.display = 'none';
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }





    function deleteMedia(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeleteMediaById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    console.log(id);
                    document.getElementById(id).style.display = 'none';
                    console.log(document.getElementById(id + 'id'))
                    document.getElementById(id + 'id').style.display = 'flex';
                    console.log(document.getElementById(id + 'hid').value)
                    document.getElementById(id + 'hid').value = "";
                    console.log(document.getElementById(id + 'hid').value)
                    document.getElementById("lifeeventstylebtn").textContent = "Save All";
                    document.getElementById("lifeeventstylebtn").style.backgroundColor = "#384f95";


                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
