@page
@model Icity.Areas.TemplatePages.ProfileModel
@{
    Layout = "_DashBoard";
}
@using Microsoft.AspNetCore.Localization;



<div class="col-md-9">
    <form method="post" enctype="multipart/form-data">

        <div class="dashboard-title fl-wrap">
            <h3>Your Profile</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Full Name <i class="fal fa-user"></i></label>
                        <input asp-for="@Model.userProfile.FullName" type="text" placeholder="Enter Full Name"  />
                        <span asp-validation-for="userProfile.FullName" style="color:red;"></span>

                    </div>
                    <div class="col-sm-6">
                        <label>Nick Name <i class="fal fa-user"></i></label>
                        <input asp-for="@Model.userProfile.NickName" type="text" placeholder="Enter Nick Name"  />
                    </div>
                    <div class="col-sm-6">
                        <label> Nationality  <i class="fas fa-map-marker"></i>  </label>
                        <input asp-for="@Model.userProfile.Nationality" type="text" placeholder="Enter Nationality"  />
                    </div>
                    <div class="col-sm-6">
                        <label>Phone<i class="far fa-envelope"></i>  </label>
                        <input asp-for="@Model.userProfile.PhoneNumber" type="text" placeholder="Enter Phone"  />
                    </div>
                    <div class="col-sm-6">
                        <label>Phone 2<i class="far fa-phone"></i>  </label>
                        <input asp-for="@Model.userProfile.Phone2" type="text" placeholder="Enter Anothr phone"  />
                    </div>
                    <div class="col-sm-6">
                        <label> job <i class="fas fa-map-marker"></i>  </label>
                        <input asp-for="@Model.userProfile.Job" type="text" placeholder="Enter Your job"  />
                    </div>
                    <div class="col-sm-6">
                        <label> Location <i class="fas fa-map-marker"></i>  </label>
                        <input asp-for="@Model.userProfile.MapLocation" type="text" placeholder="Enter Your Location"  />
                    </div>
                    <div class="col-sm-6">
                        <label> Website <i class="far fa-globe"></i>  </label>
                        <input asp-for="@Model.userProfile.MapLocation" type="text" placeholder="Enter your Website"  />
                    </div>
                </div>
                <label> Bio</label>
                <textarea asp-for="@Model.userProfile.Bio" cols="40" rows="3" placeholder="Enter Bio" style="margin-bottom:20px;"></textarea>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="dashboard-title dt-inbox fl-wrap">
            <h3>Profile Media</h3>
        </div>

        <div class="listing-item-grid_container fl-wrap">
            <div class="row">

                <!--  listing-item-grid  -->
                <div class="col-sm-6">
                    <div class="listing-item-grid">
                        @if (@Model.userProfile.ProfilePicture == null)
                        {


                            <div class="bg" data-bg="~/Images/default user.png"></div>

                        }
                        else
                        {
                            <div class="bg" data-bg="/@Model.userProfile.ProfilePicture"></div>

                        }
                        <div class="d-gr-sec"></div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">Profile Picture</a></h3>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-6">
                    <div class="listing-item-grid">
                        @if (@Model.userProfile.Profilebanner == null)
                        {


                            <div class="bg" data-bg="/Images/default user.png"></div>

                        }
                        else
                        {
                            <div class="bg" data-bg="/@Model.userProfile.Profilebanner"></div>


                        }
                        <div class="d-gr-sec"></div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">Banner</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-edit-container fl-wrap block_box">
            <div class="row">
                <!--col -->
                <div class="col-md-6">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                            <label class="radio inline">
                                <input type="radio" name="gender" checked>
                                <span>Background image</span>
                            </label>
                        </div>*@
                    <div class="add-list-media-wrap">
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> Click here To Drop Profile Photo</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="image/*" name="Profilepic" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--col end-->
                <!--col -->
                <div class="col-md-6">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                            <label class="radio inline">
                                <input type="radio" name="gender">
                                <span>Carousel</span>
                            </label>
                        </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i> Click here To Drop Profile Banner</span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="image/*" name="bannerpic" class="upload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
           @{ if(Model.userPhotos.Count()>0){
            <h3>Profile Listing Photos</h3>
           }
           }
        </div>
        <div class="custom-form">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                            <label class="radio inline">
                                <input type="radio" name="gender">
                                <span>Carousel</span>
                            </label>
                        </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i> Click here To Edit Photos</span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="image/*" name="Images" class="upload" multiple>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="listing-item-grid_container fl-wrap">
            <div class="row">
                @foreach (var item in Model.userPhotos)
                {
                    <div id="@item.PhotoID" class="col-sm-4">
                        <div class="listing-item-grid">
                            <div class="bg" data-bg="/@item.Image"></div>
                            <div class="d-gr-sec" id=""></div>
                            <div class="listing-item-grid_title">
                                <h3><a onclick="deletePhoto(@item.PhotoID)">Delete</a></h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>


        <div class="custom-form">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="add-list-media-header" style="margin-bottom:20px">
                            <label class="radio inline">
                                <input type="radio" name="gender">
                                <span>Carousel</span>
                            </label>
                        </div>*@
                    <div class="add-list-media-wrap">
                        <div class="listsearch-input-item fl-wrap">
                            <div class="fuzone">
                                <div class="fu-text">
                                    <span><i class="fal fa-images"></i> Click here or Edit Videos</span>
                                    <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" accept="video/*" name="VideosFiels" class="upload" multiple>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
        @{
            if(Model.userVideos.Count()>0){
            <h3> Profile Listing Videos</h3>
        
            }
        }
        </div>
        
        @foreach (var item in Model.userVideos)
        {

            <div id="@item.VideoID" class="col-sm-4">
                <div class="list-single-main-item_content fl-wrap">
                    <div class="iframe-holder fl-wrap">
                        <div class="resp-video">

                            <iframe src="@Url.Content("/"+item.VideoT)?background=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        </div>
                        <h3><a class="btn" style="background-color: #c03434" onclick="deleteVideo(@item.VideoID)">Delete</a></h3>

                    </div>
                </div>
            </div>
        }


        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Skills</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.SkillsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Skills Title <i class="fal fa-briefcase"></i></label>
                                    <input class="SkillInput" type="text" placeholder="Enter Skill Title" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.SkillsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Skills Title  <i class="fal fa-briefcase"></i></label>
                                        <input class="SkillInput" type="text" placeholder="Enter Skill Title" value="@item.SkillTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('skillsavebtn')">Add New <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="SkillTitle()" id="skillsavebtn" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Interests</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.InterestsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Interest Title <i class="fal fa-briefcase"></i></label>
                                    <input class="InterrestInput" type="text" placeholder="Enter Interest Title" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.InterestsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Interest Title <i class="fal fa-briefcase"></i></label>
                                        <input class="InterrestInput" type="text" placeholder="Enter Interest Title" value="@item.InterestTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('Interresavetbtn')">Add New <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="InterristTitle()" id="Interresavetbtn" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>


        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Languages</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.LanguagesList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Language Title <i class="fal fa-briefcase"></i></label>
                                    <input class="LanguageInput" type="text" placeholder="Enter Language Title" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.LanguagesList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Language Title <i class="fal fa-briefcase"></i></label>
                                        <input class="LanguageInput" type="text" placeholder="Enter Language Title" value="@item.LanguageTitle" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('languagesavebtn')">Add New <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="LanguageTitle()" id="languagesavebtn" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>
        <!-- profile-edit-container end-->



        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Education</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.EducationsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Education Discription <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Description" name="Description" class="educationdes" type="text" placeholder="Enter Education Discription" />
                                </div>
                                <div class="col-md-4">
                                    <label>Education Year <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Year" name="Year" class="educationyear" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Education Year" />
                                    <span asp-validation-for="education.Year" style="color:red;"></span>

                                </div>
                                <div class="col-md-4">
                                    <label>Education Provider <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.education.Provider" name="Provider" class="educationprov" type="text" placeholder="Enter Education Provider" />
                                    <span style="color:red;">@Model.educationvalidation</span>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.EducationsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Education Discription <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Description" name="Description" class="educationdes" type="text" placeholder="Enter Education Discription" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Education Year <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Year" name="Year" class="educationyear" type="text" placeholder="Enter Education Year" />
                                        <span asp-validation-for="education.Year" style="color:red;"></span>

                                    </div>
                                    <div class="col-md-4">
                                        <label>Education Provider  <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Provider" name="Provider" class="educationprov" type="text" placeholder="Enter Education Provider" />
                                        <span style="color:red;">@Model.educationvalidation</span>


                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('Educationsavebtn')">Add New <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="EducationTitle()" id="Educationsavebtn" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>
        <!-- profile-edit-container end-->

        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>Life Events</h3>
        </div>
        <div class="profile-edit-container fl-wrap  block_box">
            <div class="custom-form add_room-item-wrap">
                <div class="add_room-container fl-wrap">
                    @if (Model.LifeEventsList.Count() == 0)
                    {
                        <div class="add_room-item fl-wrap">
                            <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                            <div class="row">
                                <div class="col-md-3">
                                    <label> LifeEvent Type <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.LifeEvent.EventType" name="EventType" class="LifeEventType" type="text" placeholder="Enter LifeEvent Type" />
                                    <span asp-validation-for="LifeEvent.EventType" style="color:red;"></span>
                                </div>
                                <div class="col-md-3">
                                    <label>LifeEvent Details <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.LifeEvent.Details" name="Details" class="LifeEventDetails" type="text" placeholder="Enter LifeEvent Details" />
                                    <span asp-validation-for="LifeEvent.Details" style="color:red;"></span>

                                </div>
                                <div class="col-md-3">
                                    <label>LifeEvent Caption <i class="fal fa-briefcase"></i></label>
                                    <input asp-for="@Model.LifeEvent.Caption" name="Caption" class="LifeEventcaption" type="text" placeholder="Enter LifeEvent Caption" />
                                    <span asp-validation-for="LifeEvent.Caption" style="color:red;"></span>
                                </div>
                                <div class="col-md-3">
                                    <div class="add-list-media-wrap">
                                        <div class="add-list-media-wrap">
                                            <div class="listsearch-input-item fl-wrap">
                                                <div class="fuzone">
                                                    <div class="fu-text">
                                                        <span><i class="fal fa-images"></i> Click here To Drop LifeEvent Media</span>
                                                        <div class="photoUpload-files fl-wrap"></div>
                                                    </div>
                                                    <input asp-for="@Model.LifeEvent.Media" type="file" accept="video/*,image/*" name="LifeeventMedia" class="upload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.LifeEventsList)
                        {
                            <div class="add_room-item fl-wrap">
                                <span class="remove-rp tolt" data-microtip-position="left" data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label> LifeEvent Type <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.EventType" name="EventType" class="LifeEventType" type="text" placeholder="Enter Event Type" />
                                        <span asp-validation-for="LifeEvent.EventType" style="color:red;"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>LifeEvent Details <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Details" name="Details" class="LifeEventDetails" type="text" placeholder="Enter LifeEvent Details" />
                                        <span asp-validation-for="LifeEvent.Details" style="color:red;"></span>

                                    </div>
                                    <div class="col-md-3">
                                        <label>LifeEvent Caption <i class="fal fa-briefcase"></i></label>
                                        <input asp-for="@item.Caption" name="Caption" class="LifeEventcaption" type="text" placeholder="Enter LifeEvent Caption" />
                                        <span asp-validation-for="LifeEvent.Caption" style="color:red;"></span>
                                    </div>
                                    @{
                                        string stid = item.LifeEventID.ToString() + "id";
                                        string hiddenid = item.LifeEventID.ToString() + "hid";
                                    }
                                    <input hidden id="@hiddenid" asp-for="@item.Media" name="Media" type="text" class="LifeEventhiddenMedia" />
                                    <input hidden asp-for="@item.LifeEventID" name="LifeEventID" type="text" class="LifeEventhiddenID" />

                                    <div  id="@stid" style="display:none" class="col-md-3 mediainput">
                                        <div class="add-list-media-wrap">
                                            <div class="add-list-media-wrap">
                                                <div class="listsearch-input-item fl-wrap">
                                                    <div class="fuzone">
                                                        <div class="fu-text">
                                                            <span><i class="fal fa-images"></i> Click here To Drop LifeEvent Media</span>
                                                            <div class="photoUpload-files fl-wrap"></div>
                                                        </div>
                                                        <input asp-for="@Model.LifeEvent.Media" type="file" accept="video/*,image/*" name="LifeeventMedia" class="upload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="@item.LifeEventID" class="col-md-3 mediashow">
                                        <div class="list-single-main-item_content fl-wrap">
                                            <div class="iframe-holder fl-wrap">
                                                <div class="resp-video">

                                                    <iframe src="@Url.Content("/"+item.Media)?background=0" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                                                </div>
                                                <h3><a class="btn" style="background-color: #c03434" onclick="deleteMedia(@item.LifeEventID)">Delete</a></h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="add-room-item" onclick="changeStylebutton('lifeeventstylebtn')">Add New <i class="fal fa-plus"></i> </a>


            </div>
            <div class="row">
                <a onclick="LifeEvent()" id="lifeeventstylebtn" class="btn  color2-bg  float-btn">Save All</a>
            </div>
        </div>
        <!-- profile-edit-container end-->




        <div class="dashboard-title dt-inbox fl-wrap">
            <h3>Your  Socials</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <label>Facebook <i class="fab fa-facebook"></i></label>
                <input asp-for="@Model.userProfile.FacebookLink" type="text" placeholder="Enter Facebook Link"  />
                <label>Twitter<i class="fab fa-twitter"></i>  </label>
                <input asp-for="@Model.userProfile.TwitterLink" type="text" placeholder="Enter Twitter Link"  />
                <label>YouTube<i class="fab fa-vk"></i>  </label>
                <input asp-for="@Model.userProfile.YoutubeLink" type="text" placeholder="Enter Youtube Link"  />
                <label>LinkedIn<i class="fab fa-vk"></i>  </label>
                <input asp-for="@Model.userProfile.LinkedInLink" type="text" placeholder="Enter LinkedIn Link"  />
                <label> Instagram <i class="fab fa-instagram"></i>  </label>
                <input asp-for="@Model.userProfile.InstagramLink" type="text" placeholder="Enter Instagram Link" />
                <button class="btn    color2-bg  float-btn">Save Changes<i class="fal fa-save"></i></button>
            </div>
        </div>
    </form>
    <!-- profile-edit-container end-->
</div>

@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/color.css")">


    }
    //Arabic
    else
    {

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/color.css")">


    }



}
<script>
    function SkillTitle() {
        var SkillList = new Array();
        var inputvalue = document.getElementsByClassName("SkillInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("SkillInput")[i].value != "") {
                SkillList.push(document.getElementsByClassName("SkillInput")[i].value)
            }
        }
        if (SkillList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillSkillsList",
                async: false,
                data: JSON.stringify(SkillList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById("skillsavebtn").textContent = "Saved";
                    document.getElementById("skillsavebtn").style.backgroundColor = "#257260";

                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }
    function changeStylebutton(id) {

        document.getElementById(id).textContent = "Save All";
        document.getElementById(id).style.backgroundColor = "#384f95";
        //document.getElementsByClassName('mediainput')[0].style.display = 'flex';
        //document.getElementsByClassName('mediashow')[0].style.display = 'none';
    }

    function InterristTitle() {
        var InterestsList = new Array();
        var inputvalue = document.getElementsByClassName("InterrestInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("InterrestInput")[i].value != "") {
                InterestsList.push(document.getElementsByClassName("InterrestInput")[i].value)
            }
        }
        if (InterestsList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillInterestsList",
                async: false,
                data: JSON.stringify(InterestsList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById("Interresavetbtn").textContent = "Saved";
                    document.getElementById("Interresavetbtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }


    function LanguageTitle() {
        var LanguagesList = new Array();
        var inputvalue = document.getElementsByClassName("LanguageInput");
        for (var i = 0; i < inputvalue.length; i++) {
            if (document.getElementsByClassName("LanguageInput")[i].value != "") {
                LanguagesList.push(document.getElementsByClassName("LanguageInput")[i].value)
            }
        }
        if (LanguagesList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillLanguagesList",
                async: false,
                data: JSON.stringify(LanguagesList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById("languagesavebtn").textContent = "Saved";
                    document.getElementById("languagesavebtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }



    function EducationTitle() {
        var EducationList = new Array();
        var desvalue = document.getElementsByClassName("educationdes");
        var yearvalue = document.getElementsByClassName("educationyear");
        var provvalue = document.getElementsByClassName("educationprov");
        for (var i = 0; i < desvalue.length; i++) {
            var education = { Description: desvalue[i].value, Year: yearvalue[i].value, Provider: provvalue[i].value };
            console.log(education)
            //if (document.getElementsByClassName("educationobj")[i].value != "") {
            EducationList.push(education)
            //}
        }
        console.log(EducationList)
        console.log(EducationList.length)

        if (EducationList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillEducationsList",
                async: false,
                data: JSON.stringify(EducationList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById("Educationsavebtn").textContent = "Saved";
                    document.getElementById("Educationsavebtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);

                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }




    function LifeEvent() {
        console.log("string")
        var LifeEvList = new Array();
        var desvalue = document.getElementsByClassName("LifeEventType");
        var detailsvalue = document.getElementsByClassName("LifeEventDetails");
        var captionvalue = document.getElementsByClassName("LifeEventcaption");
        var hiddenMedia = document.getElementsByClassName("LifeEventhiddenMedia");
        var hiddenid = document.getElementsByClassName("LifeEventhiddenID");
        for (var i = 0; i < desvalue.length; i++) {
            var LifeEvent = { EventType: desvalue[i].value, Details: detailsvalue[i].value, Caption: captionvalue[i].value, Media: hiddenMedia[i].value, LifeEventID: hiddenid[i].value };
            console.log(LifeEvent)
            LifeEvList.push(LifeEvent)
        }
        console.log(LifeEvList)
        console.log(LifeEvList.length)

        if (LifeEvList.length > 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=FillLifeEventsList",
                async: false,
                data: JSON.stringify(LifeEvList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById("lifeeventstylebtn").textContent = "Saved";
                    document.getElementById("lifeeventstylebtn").style.backgroundColor = "#257260";
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }























    function deletePhoto(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeletePhotoById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    document.getElementById(id).style.display = 'none';

                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }
    function deleteVideo(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeleteVideoById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    console.log(id);
                    document.getElementById(id).style.display = 'none';
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }





    function deleteMedia(id) {
        //console.log(typeof(id))
        //var List = new Array();
        //List.push(id);
        if (id != 0) {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/Profile?handler=DeleteMediaById",
                async: false,
                data: JSON.stringify(id),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    console.log("get selected rows successfully" + response)
                    console.log(id);
                    document.getElementById(id).style.display = 'none';
                    console.log(document.getElementById(id + 'id'))
                    document.getElementById(id + 'id').style.display = 'flex';
                    console.log(document.getElementById(id + 'hid').value)
                    document.getElementById(id + 'hid').value = "";
                    console.log(document.getElementById(id + 'hid').value)
                    document.getElementById("lifeeventstylebtn").textContent = "Save All";
                    document.getElementById("lifeeventstylebtn").style.backgroundColor = "#384f95";


                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
        else {
            console.log("Nobody has been selected")
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
