@page
@model Icity.Areas.TemplatePages.Pages.ClassifiedAds.AddModel
@{
}
@inject IcityContext _context
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "_DashBoard";
    var classifiedAdsTypes = _context.ClassifiedAdsTypes.Select(e => new { e.ClassifiedAdsTypeID, e.TypeTitleEn });
    var StatusProductList = _context.ProductStatuses.Select(e => new { e.ProductStatusID, e.StatusTitle });
}

<div class="col-md-9">
    <form method="post" enctype="multipart/form-data" onsubmit="return validateMyForm();">
        <div asp-validation-summary="ModelOnly" style="color:red;"></div>
        <div class="dashboard-title   fl-wrap">
            <h3>@sharedResource["Add Classified Ads"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                     <div class="col-md-6">
                    <label>@sharedResource["Title"] <i class="fal fa-briefcase"></i></label>
                    <input asp-for="classifiedAds.Title" type="text" placeholder="@sharedResource["Enter Title"]" value="" />
                    <span asp-validation-for="classifiedAds.Title" style="color:red;"></span>
                </div>
               
               <div class="col-md-6">
                    <label>@sharedResource["Price"] <i class="fal fa-briefcase"></i></label>
                    <input asp-for="classifiedAds.Price" type="text" placeholder="@sharedResource["Enter Price"]" value="" />
                    <span asp-validation-for="classifiedAds.Price" style="color:red;"></span>
                </div>
                 </div>
                <div class="row">
                   
                    <div class="col-md-6" id="HrefType">
                        <label>@sharedResource["Type"]</label>
                        <div class="listsearch-input-item">
                            <select   id="TypeId"  asp-for="classifiedAds.ClassifiedAdsTypeID" data-placeholder="Apartments" class="chosen-select no-search-select">
                                <option>@sharedResource["All Types"]</option>
                                @foreach (var item in classifiedAdsTypes)
                                {
                                    <option value="@item.ClassifiedAdsTypeID">@item.TypeTitleEn</option>
                                }
                            </select>
                        </div>
                       <div class="row">
                       <div class="col-md-12">
                            <span id="SpanTypeId"  style="color:red;display:none">@sharedResource["Select Classified Ads Type"]</span>
                           </div>
                   </div>
                    </div>
                   
                    <div class="col-md-6" id="HrefStatus">
                          <label>@sharedResource["Status"]</label>
                        <div class="listsearch-input-item">
                            <select   id="StatusId"  asp-for="classifiedAds.ProductStatusID" data-placeholder="Apartments" class="chosen-select no-search-select">
                                <option>@sharedResource["All Status"]</option>
                                @foreach (var item in StatusProductList)
                                {
                                    <option value="@item.ProductStatusID">@item.StatusTitle</option>
                                }
                            </select>
                        </div>
                       <div class="row">
                       <div class="col-md-12">
                            <span id="SpanStatusId"  style="color:red;display:none">@sharedResource["Select Product Status"]</span>
                           </div>
                   </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Location"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    
                    <div class="">
                        <label>@sharedResource["Location"] <i class="fal fa-long-arrow-alt-down"></i> </label>
                        <input asp-for="classifiedAds.ClassifiedAdsLocation" type="text" placeholder="@sharedResource["Enter Location"]" id="lat" value="" required />
                        <span asp-validation-for="classifiedAds.ClassifiedAdsLocation" style="color:red;"></span>

                    </div>

                </div>
                
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Classified Ads Media"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <div class="row">
                    <!--col -->
                    <div class="col-md-6">
                        
                        <div class="add-list-media-wrap">
                            <div class="add-list-media-wrap">
                                <div class="listsearch-input-item fl-wrap">
                                    <div class="fuzone">
                                        <div class="fu-text">
                                            <span><i class="fal fa-images"></i> @sharedResource["Click here or drop Classified Main Photo"]</span>
                                            <div class="photoUpload-files fl-wrap"></div>
                                        </div>
                                        <input type="file" accept="image/*" name="MainPhoto" class="upload">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--col end-->
                    <!--col -->
                    <div class="col-md-6">
                        <div class="add-list-media-wrap">
                            <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                    <div class="fu-text">
                                        <span><i class="fal fa-images"></i> @sharedResource["Click here or drop More Media"]</span>
                                        <div class="photoUpload-files fl-wrap"></div>
                                    </div>
                                    <input type="file" accept="image/*,video/*" name="Medias" class="upload" multiple>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- profile-edit-container end-->
        <div class="dashboard-title  dt-inbox fl-wrap">
            <h3>@sharedResource["Details"]</h3>
        </div>
        <!-- profile-edit-container-->
        <div class="profile-edit-container fl-wrap block_box">
            <div class="custom-form">
                <label>@sharedResource["Description"]</label>
                <textarea asp-for="classifiedAds.Details" cols="40" rows="3" placeholder="@sharedResource["Enter Classified Ads Details"]"></textarea>
            </div>
        </div>
    
      
        <button type="submit"  class="btn  color2-bg  float-btn">@sharedResource["Create"]<i class="fal fa-paper-plane"></i></button>

    </form>
    <!-- profile-edit-container end-->
</div>
@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4tXkFchYBY_2hvyPsERf5U0ho8DCAmBw&language=ar&libraries=places&callback=initAutocomplete"></script>
        
        <script src="~/Template/js/map-add.js"></script>


    }
    //Arabic
    else
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4tXkFchYBY_2hvyPsERf5U0ho8DCAmBw&language=ar&libraries=places&callback=initAutocomplete"></script>

        <script src="~/Template/js/map-add.js"></script>



    }
}

<script>
  

   
    function validateMyForm()
    {
        var TypeId = document.getElementById("TypeId");
        var StatusId = document.getElementById("StatusId");
        console.log(TypeId.value);
        console.log(StatusId.value);
        var SpanTypeId = document.getElementById("SpanTypeId")
        var SpanStatusId = document.getElementById("SpanStatusId")
        console.log(SpanTypeId);
        console.log(SpanStatusId);
        if(TypeId.value=="All Types")
        {
             console.log("entered");
             SpanStatusId.style.display="flex";
            window.location.href = "#HrefType";

            return false;
        }
        if(TypeId.value!="All Types")
        {
             console.log("Not entered");
            SpanTypeId.style.display="none";
            return true;
        }
        if(StatusId.value=="All Status")
        {
             console.log("entered");
             SpanStatusId.style.display="flex";
            window.location.href = "#HrefStatus";

            return false;
        }
        if(StatusId.value!="All Types")
        {
             console.log("Not entered");
            SpanStatusId.style.display="none";
            return true;
        }
       

    }
    

</script>
   @section Scripts {
            <partial name="_ValidationScriptsPartial" />
   }
   