@page
@model Icity.Areas.Admin.Pages.Categories.AddModel
@{
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Add"]  @sharedResource["Category"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            @(Html.DevExtreme().Form<Icity.Models.Category>()
        .Items(items =>
        {
            items.AddSimpleFor(m => m.CategoryTitleAr).IsRequired(true).Label(k => k.Text(sharedResource["TlAr"]));
            items.AddSimpleFor(m => m.CategoryTitleEn).IsRequired(true).Label(k => k.Text(sharedResource["TlEn"]));
            items.AddSimpleFor(m => m.Tags).IsRequired(true).Label(k => k.Text(sharedResource["Tags"]));
            items.AddSimpleFor(m => m.SortOrder).IsRequired(true).Label(k => k.Text(sharedResource["SortOrder"])).ValidationRules(r => r.AddRange().Min(0));
;
            items.AddSimpleFor(m => m.Description).IsRequired(true).Label(k => k.Text(sharedResource["Description"]));
            items.AddSimpleFor(m => m.CategoryPic).IsRequired(true).Label(k => k.Text(sharedResource["Picture"])).Template(@<text>


                            @(Html.DevExtreme().FileUploader()
                                .Name("Photo")
                                .SelectButtonText(sharedResource["Select_photo"])
                                .LabelText("")
                                .Accept("image/*")
                                .UploadMode(FileUploadMode.UseForm)
                                 .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                            .Height(70)

                                                )


                            </text> );
            items.AddButton()
                        .ColSpan(3)
                        .ButtonOptions(b => b.Text(sharedResource["Save"])
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)).CssClass("invers");
        })

)

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
